html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #111;
    font-family: 'Oswald', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}

   body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: clip;
}

img {
  max-width: 400px;
  max-height: 350px;
}


/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: center;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #800020;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.cart-btn {
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #800020;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .cart-btn {
    display: flex;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #800020;
    color: white;
    border: none;
    cursor: pointer;
  }

  .active1 {
    margin-top: 5px;
    display: inline-block;
  }

  .cart-qty {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 0 5px;
    border-radius: 3px;
    display: none;
  }

  .cart-qty.visible {
    display: block;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

  }

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 175px;
    margin-bottom: 150px;
}

@media (max-width: 576px) {
  .container {
    float: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


div.object {
    vertical-align: top;
    display: inline-block;
    text-align: center; 
}

.albumCover {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.objectCaption {
    display: block;
}

.objectAdd {
    display: inline-block;
    color: #111;
    text-decoration: underline;
    cursor: pointer;
}

.objectAdd:hover {
    color: #800020;
}

.objectAdd:active {
    opacity: 0.8;
}

.scroll-container {
    background-color: #800020;
    width: 100%;
    overflow: hidden;
}


.scroll-text {
    color: #f1ebd9;
    
    text-align: right;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 50s linear infinite;
    -webkit-animation: my-animation 50s linear infinite;
    animation: my-animation 50s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  /* CART */

  .cart-overlay {
    position: fixed;
    inset: 0;
    opacity: 0.5;
    visibility: hidden;
    background: white;
    transition: var(--transition);  
  }

  .cart-overlay.show {
    visibility: visible;
  }

  .cart {
    position: fixed;
    inset-block: 0;
    right: 0;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    grid-template-rows: auto 1fr auto;
    transform: translateX(100%);
    background-color: #f1ebd9;
    transition: var(--transition);
  }

  .cart.show {
    transform: none;
  }

  .cart-header {
    position: relative;
    text-align: center;
    padding-block: 10px;
    border-bottom: 1px solid #800020;
  }

  .cart-close {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .cart-body {
    display: grid;
    align-content: start;
    gap: 20px;
    padding-block: 20px;
    overflow: auto;
  }

  .cart-empty {
    text-align: center;
    padding-block: 20px; 
    font-size: 1.25rem;
  }

  .cart-item{
    display: flex;
    gap: 10px;
  }

  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .cart-item-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .cart-item-detail h3 {
    font-size: 1rem;
    color: #333;
  }

  .cart-item-detail h5 {
    color: #222;
  }

  .cart-item-amount {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
  }

  .cart-item-amount .gg {
    opacity: 0.25;
    cursor: pointer;
  }

  .cart-item-amount .gg:hover {
    opacity: 1;
  }

  .cart-item-amount .qty {
    width: 2rem;
    text-align: center;
  }

  .cart-item-price {
    margin-left: auto;
  }

  .cart-footer {
    border-top: 1px solid #800020;
    padding-block: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .cart-footer div {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
  }

  .cart-footer strong {
    font-weight: 500;
    color: #333;
  }

  .cart-footer button {
    font-family: 'Oswald', sans-serif;
    padding-block: 10px;
    text-transform: uppercase;
  }

  .cart-clear {
    background-color: #222;
    color: #f1ebd9;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
  }

  .cart-clear:hover {
    filter: brightness(1.5);
  }

  .checkout {
    background-color: #800020;
    color: #f1ebd9;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  .checkout:hover {
    filter: brightness(1.3);
  }